.element__caption {
  background-color: #fff;
  margin: 0;
  padding: 22px 21px 22px;
  box-sizing: border-box;
  width: 282px;
  min-height: 79px;
  display: grid;
  grid-template-columns: auto 22px;
  gap: 21px;
  /* justify-content: space-between; */
  align-items: center;
  border-radius: 0 0 10px 10px;
  /* gap: 20px; */
}