.header {
  background-color: #000;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  max-width: 880px;
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 919px) {
  .header {
    padding: 45px 20px 41px;
  }
}

@media screen and (max-width: 633px) {
  .header {
    padding: 28px 27px 31.6px;
  }
}