.footer {
  padding: 67px 0 60px;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  background-color: #000;
  color: #545454;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 919px) {
  .footer {
    padding: 67px 20px 60px;
  }
}

@media screen and (max-width: 633px) {
  .footer {
    margin: 0;
    padding: 48px 19px 36px;
    font-size: 14px;
  }
}